# Importing libraries
## Copy these statement below

import pandas as pd
<br>
import numpy as np

In [2]:
# copy here

# Pandas 
## Pandas DataFrame

creating dataframe using pandas 
<br>
df=pd.DataFrame(np.random.randn(4,4),[1,2,3,4],[1,2,3,4])

In [20]:
#copy here
df

          1         2         3         4
1 -0.054699 -1.378218 -1.377601  0.187072
2 -1.116517 -0.306072 -0.712765  0.638315
3  1.082037 -0.365761 -0.538303 -0.031488
4  1.066254  0.152120  0.690707 -0.281426

### Dataframe using dictionary 
dict1={'name':pd.Series(['man','push','lakshy'],index=[1,2,3]),
<br>
'age':pd.Series([18,18,20,18],index=[1,2,3,4]),
<br>
'ok':pd.Series(['a','b','c'],[1,2,3])}
<br>
dff=pd.DataFrame(dict1)

In [3]:
# copy here
dff

     name  age   ok
1     man   18    a
2    push   18    b
3  lakshy   20    c
4     NaN   18  NaN

In [22]:
dff['age']

1    18
2    18
3    20
4    18
Name: age, dtype: int64

# Read csv files
## Pandas support Read and Write in csv
data=pd.read_csv("50_Startups.csv")
<br>
data.head()
## head(n) This function returns the first n rows for the object based on position.
## default value of n is 5

In [3]:
# copy here

# Drop function
## DataFrame.drop( labels=None, axis=0, index=None, columns=None, level=None, inplace=False)

* labels : single label or list-like
* Index or column labels to drop.

* axis : {0 or ‘index’, 1 or ‘columns’}, default 0
* Whether to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’).

* index : single label or list-like
* Alternative to specifying axis (labels, axis=0 is equivalent to index=labels).

* New in version 0.21.0.

* columns : single label or list-like
* Alternative to specifying axis (labels, axis=1 is equivalent to columns=labels).

* New in version 0.21.0.

* level : int or level name, optional
* For MultiIndex, level from which the labels will be removed.

* inplace : bool, default False
* If True, do operation inplace and return None.

### copy this to drop column
data.drop('State',axis=1)

In [6]:
# copy here

### drop 4rth row using 
data.drop(4,axis=0)

In [7]:
#copy here

In [8]:
data.head(6)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12

# Slicing of dataframe 

## DataFrame.iloc[rows,columns]

## DataFrame.loc[rows,columns]

### using iloc for slicing
data.iloc[:19,:]

In [11]:
# copy here

### using loc 
data.loc[:19,:]

In [13]:
# copy here