# LISTS

## Lists consist of items separated by commas and enclosed with square bracket ([ ])

- Example 1

In [3]:
list1=[1,2,3,4]
print(list1)
print(type(list1))

[1, 2, 3, 4]
<class 'list'>

- Example 2

In [4]:
list1=[1,"cetap",1.2]
print(list1)

[1, 'cetap', 1.2]

# list has four basic operations  (CRUD):-

<h2> Create   , Read ,  Update , Delete</h2>

 # - Create

<h3> Append Method :- It will add the element at last position  </h3>

append(self,element)

In [6]:
l1=[1,2,3,4]
l1.append(99)
print(l1)

[1, 2, 3, 4, 99]

In [93]:
l2=['prakhar','mohit','raj']

l2.append("chirag")
print(l2)

['prakhar', 'mohit', 'raj', 'chirag']

# Read

   <h3>- Index Method :- It will return the index position  of element from lists</h3>


- syntax :-index(self,element)

In [7]:
l1=[1,2,3,4]
l1.index(4)

3

In [95]:
l2=['keshav','raj','sumit']
print(l2.index('sumit'))

2

# Update


<h2> To update a element at a particular index position we use indexing </h2>

- Example 1

- Example 2

In [99]:
l2=[5,4,64,2,1]

l2[2]=3
print(l2)

[5, 4, 3, 2, 1]

# Delete

<h2> - Remove Method :- It will remove the element from list </h2>


- syntax :- remove(self,element)

In [1]:
l1=['param',1,2,3,4,5]

l1.remove('param')

print(l1)

[1, 2, 3, 4, 5]

# Tuples

## Tuples consist of items separated by commas and enclosed with angular bracket ( )

## - Example 1

- Example 2

In [11]:
t2=(1,2,3,4)
t2[2]=9

TypeError: 'tuple' object does not support item assignment

# Tuple has two opearations(CR):-

# Create

In [105]:
t2=(98,'shiva')
print(t2)
print(type(t2))

(98, 'shiva')
<class 'tuple'>

In [3]:
t3=3,4,5
t3

(3, 4, 5)

# Dictionaries

## Dictionaries are key-value pairs which are enclosed with curly braces( { } )

## Dictionary has four basic operations  (CRUD):-

<h3> Create   , Read ,  Update , Delete</h3>

In [10]:
dict1 ={"apple":10, 'Mango':50}
dict1["apple"]

10

# Create

 - syntax:- d1={'key1':'value' , 'key2':'value2','key3':'value3'}

- Example 1

In [113]:
d1={'apple':20,'orange':40,'mango':60}

print(d1)

print(type(d1))

{'apple': 20, 'orange': 40, 'mango': 60}
<class 'dict'>

- Example 2

<h3>- keys method :- It will return all the keys in dictionary </h3>
  
      -syntax:- keys(self)

In [117]:
d1={'apple':20,'orange':40,'mango':60}

print(d1.keys())

dict_keys(['apple', 'orange', 'mango'])

<h3>- values method :- It will return all the values in dictionary </h3>
  
      -syntax:- values(self)

In [119]:
d1={'apple':20,'orange':40,'mango':60}

print(d1.values())

dict_values([20, 40, 60])

# Update

<h2> Values can be updated through indexing method</h2>

- Example 1

In [121]:
d1={'apple':20,'orange':40,'mango':60}
d1['orange']=50
print(d1)

{'apple': 20, 'orange': 50, 'mango': 60}

- Example 2

In [122]:
d2={'car1':2,'car2':4,'car3':6}

d2['car3']=5
print(d2)

{'car1': 2, 'car2': 4, 'car3': 5}

# if else and elif

- Example 1

In [5]:
location="bank"
if location=="bank":
 print("money is cool")
elif location=="cars":
print("cars are cool")
else:
  print("i do not know much")

IndentationError: expected an indented block (<ipython-input-5-3957307009fa>, line 5)

- Example 2

In [2]:
hungry="yes"
if hungry=="yes":
    print("i am hungry")
else:
    print("i am not hungry")

i am hungry

# for loop

In [3]:
mylist=[1,2,3,4,5,6,7,8,9]

range(0, 2, 10)

- Example 2 TO CHECK EVEN NUMBER IN LIST

In [6]:
for e in mylist:
    if e%2==0:
        print(e)

2
4
6
8

- To sum of given number in list

# While loop

- Example 1

In [12]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

# functions

In [9]:
def add(num1,num2):
  
    
    return num1+num2

In [11]:
result=add(1,2)
result

3

 -example 2

In [10]:
def say_hello():
    print("hello")

In [11]:
say_hello()

hello

# find out if the word dog is in the string

In [19]:
def dog_check(mystring):
    if "dog" in mystring:
        return True
    else:
        return False

In [20]:
dog_check(" my dog ran away")

True